<div class="ctn">
    <h2>liste des directions</h2>
<table class="table table-hover">
    <thead>
    <tr>
        <td>Nom Direction</td>
        
        <td colspan="2">Actions</td>
    </tr>
    </thead>
  
    <!-- <tbody>
        <tr *ngFor="let business of businesses">
            <td>{{ business.person_name }}</td>
            <td>{{ business.business_name }}</td>
            <td>{{ business.business_gst_number }}</td>
            <td><a [routerLink]="['/edit', business._id]" class="btn btn-primary">Edit</a></td>
            <td><a [routerLink]="" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody> -->
  </table>
</div>